.alignsize {
}

Label.alignsizeTitle {
    font-size: 42px;
    height: 40%;
    -unity-text-align: middle-center;
}

.alignsize Label {
    font-size: 21px;
}

.alignsize TextInput {
    font-size: 21px;
}

Button.alignsize {
    font-size: 21px;
}

TextField.alignsize Label {
    -unity-text-align: upper-right;
    margin-right: 10px;
}

DropdownField.alignsize Label {
    -unity-text-align: upper-right;
    margin-right: 10px;
}

.alignScreen {
    width: 100%;
    height: 100%;
}
